<div class="gadget-explorer fill-height ui-container" ng-click="setT()">
    <md-whiteframe class="md-whiteframe-z1 fill-height" layout="column" layout-align="left">
        <div class="header">Gadget Explorer</div>
        <md-content class="fill-height">
            <md-list>
                <div ng-repeat="gadgetModelData in gadgetModel.components">
                    <gadget-explorer-entry ng-model="gadgetModelData" selected-gadget-model="selectedGadgetComponent"></gadget-explorer-entry>
                </div>
            </md-list>
        </md-content>
    </md-whiteframe>

    <style>
        .gadget-explorer .entry {
            cursor: pointer;
        }
    </style>
