<!-- Single placed part. -->
<div ng-if="component.get_placed_parts().length > 1">
    <div class="gadget-explorer-entry" tabindex="0" ng-keydown="keyHandler.handleKeyDown($event)" ondblclick="toggleExpand(this)" ng-click="toggleSelectedComponent($event)">
        <div class="icon">
            <img class="expanded" src="public/img/folder-open.png" />
            <img class="closed" src="public/img/folder-closed.png" />
        </div>
        <div class="component-instance" ng-class="{selected: isComponentInstanceSelected()}" ng-bind="component.get_name()"></div>
        <div class="placed-parts" style="display: none;">
            <div ng-repeat="placedPart in component.get_placed_parts()">
                <div class="placed-part" ng-class="{selected: isPlacedPartSelected(placedPart)}" ng-click="toggleSelectedPlacedPart(placedPart, $event)">
                    <div class="icon">
                        <img src="public/img/file.png" />
                    </div>
                    <span ng-bind="placedPart.get_ref()"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Multiple placed parts. -->
<div ng-if="component.get_placed_parts().length < 2">
    <div class="gadget-explorer-entry" tabindex="0" ng-keydown="keyHandler.handleKeyDown($event)" ng-click="toggleSelectedComponent($event)">
        <div class="icon">
            <img src="public/img/file.png" />
        </div>
        <div class="component-instance" ng-class="{selected: isComponentInstanceSelected()}" ng-bind="component.get_name()"></div>
    </div>
</div>



<script>
    function toggleExpand(elt) {
        var expandedIcon = elt.getElementsByClassName('expanded')[0];
        var closedIcon = elt.getElementsByClassName('closed')[0];
        var placedParts = elt.getElementsByClassName('placed-parts')[0];
        var isExpanded = placedParts.style.display != 'none';

        // Toggle icons.
        if (isExpanded) {
            expandedIcon.style.display = 'none';
            closedIcon.style.display = 'inline';
        } else {
            expandedIcon.style.display = 'inline';
            closedIcon.style.display = 'none';
        }

        // Toggle placed parts.
        placedParts.style.display = (isExpanded) ? 'none' : 'block';
    }
</script>

<style>
    .gadget-explorer-entry {
        cursor: pointer;
        margin-bottom: 2px;
    }

    .gadget-explorer-entry .component-instance.selected {
        background-color: lightblue;
    }

    .gadget-explorer-entry .placed-part.selected {
        background-color: lightpink;
    }

    .gadget-explorer-entry .placed-part {
        padding-left: 40px;
    }

    .gadget-explorer-entry .icon {
        float: left;
        margin-left: 5px;
        margin-right: 8px;
    }

    .gadget-explorer-entry .icon img {
        height: 15px;
        width: 15px;
    }

    .gadget-explorer-entry .icon img.expanded {
        display: none;
    }
</style>