<div class="gadget-explorer fill-height ui-container" ng-click="setT()">
    <md-whiteframe class="md-whiteframe-z1 fill-height" layout="column" layout-align="left">
        <div class="header">Gadget Explorer</div>
        <md-content class="fill-height">
            <md-list>
                <div ng-repeat="gadgetModelData in gadgetModel.components">
                    <!-- Component entry. -->
                    <div ng-bind="gadgetModelData.name"></div>
                    <!-- Placed part. -->
                    <div ng-repeat="placedPart in gadgetModelData.getPlacedParts()">
                        <gadget-explorer-entry></gadget-explorer-entry>
                    </div>
                </div>
            </md-list>
        </md-content>
    </md-whiteframe>

    <style>
        .gadget-explorer .entry {
            cursor: pointer;
        }
    </style>
