<div class="gadget-explorer-entry">
    <md-item ng-click="toggleSelected()">
        <div class="placed-part" ng-repeat="placedPart in gadgetModelData.getPlacedParts()">
            <div ng-class="{selected: isSelected}">NEEDS NAME</div>
        </div>
    </md-item>
</div>

<style>
    .gadget-explorer-entry {
        cursor: pointer;
    }

    .gadget-explorer-entry .selected {
        background-color: lightblue;
    }

    .gadget-explorer-entry .placed-part .selected {
        background-color: lightcyan;
    }
</style>