<div class="gadget-explorer fill-height ui-container">
    <md-whiteframe class="md-whiteframe-z1 fill-height" layout="column" layout-align="left">
        <div class="header">Gadget Explorer</div>
        <md-content class="fill-height">
            <md-list>
                <div ng-repeat="componentName in gadgetModel.component_names()">
                    <!-- Display multiple part info. -->
                    <div ng-if="gadgetModel.components[componentName].get_placed_parts().length > 1">
                        <!-- Component entry. -->
                        <div ng-bind="gadgetModel.components[componentName].name"></div>

                        <!-- Placed part. -->
                        <div ng-repeat="placedPart in gadgetModel.components[componentName].get_placed_parts()">
                            <gadget-explorer-entry selected-gadget-component="selectedGadgetComponent"
                                                   placed-part="placedPart">
                            </gadget-explorer-entry>
                        </div>
                    </div>

                    <!-- Display single part info. -->
                    <div ng-if="gadgetModel.components[componentName].get_placed_parts().length == 1">
                        <!-- Placed part. -->
                        <div ng-repeat="placedPart in gadgetModel.components[componentName].get_placed_parts()">
                            <gadget-explorer-entry part-name="gadgetModel.components[componentName].name"
                                                   selected-gadget-component="selectedGadgetComponent"
                                                   placed-part="placedPart">
                            </gadget-explorer-entry>
                        </div>
                    </div>
                </div>
            </md-list>
        </md-content>
    </md-whiteframe>

    <style>
        .gadget-explorer .entry {
            cursor: pointer;
        }
    </style>
