<g class="gadget-board-component" ng-mousedown="handleMouseDown($event)"
   ng-attr-transform="  translate({{transformation.x - dimensions.x / 2}} {{transformation.y - dimensions.y / 2}})
                        rotate({{transformation.rot * -1}} {{dimensions.x / 2}} {{dimensions.y / 2}})
                     ">

    <!-- Selection border -->
    <rect ng-if="isSelected"
          x="0" 
          y="0" 
          ng-attr-width="{{dimensions.x}}"
          ng-attr-height="{{dimensions.y}}"
          style="stroke: red; stroke-width: 5px; fill: transparent;" />

    <!-- Rotation control -->
    <rect ng-if="isSelected"
          ng-attr-x="{{dimensions.x}}"
          y="-15"
          width="15"
          height="15"
          class="rotate-control"
          ng-mousedown="componentTouchHandler.handleMouseDown($event, true)"
          ng-mouseup="componentTouchHandler.handleMouseUp($event, true)"
          ng-mousemove="componentTouchHandler.handleMouseMove($event, true)" />

    <!-- Component image -->
    <g class="img" ng-class="{selected: isSelected}"
       ng-mousedown="componentTouchHandler.handleMouseDown($event)"
       ng-mouseup="componentTouchHandler.handleMouseUp($event)" />
</g>

<!-- Component text -->
<g class="gadget-board-component text"
   ng-class="{selected: isSelected}"
   ng-mousedown="componentTouchHandler.handleMouseDown($event)"
   ng-mouseup="componentTouchHandler.handleMouseUp($event)"
   ng-attr-transform="translate({{transformation.x - dimensions.x / 2 + getHorizontalTextTranslation()}} {{transformation.y}})">
    <text fill="red">{{boardComponent.get_component_instance().get_name()}}</text>
</g>

<style>
    g.gadget-board-component g.img,
    g.gadget-board-component.text {
        cursor: pointer;
    }

    g.gadget-board-component g.img.selected,
    g.gadget-board-component.text.selected {
        cursor: move;
    }

    g.gadget-board-component .rotate-control {
        cursor: nwse-resize;
        fill: red;
        stroke: red;
        stroke-width: 1px;
    }
</style>