<g class="gadget-board-component"
   ng-attr-transform="  translate({{transformation.x - dimensions.x / 2}} {{transformation.y - dimensions.y / 2}})
                        rotate({{transformation.rot * -1}} {{dimensions.x / 2}} {{dimensions.y / 2}})
                     ">

    <!-- Selection border -->
    <rect ng-if="isSelected"
          x="0" 
          y="0" 
          ng-attr-width="{{dimensions.x}}"
          ng-attr-height="{{dimensions.y}}"
          style="stroke: red; stroke-width: 5px; fill: transparent;" />

    <!-- Rotation controls -->
    <g class="rotation-control">
        <circle ng-if="isSelected"
                ng-attr-cx="0"
                cy="0"
                r="7"
                class="top-left"
                ng-mousedown="rotationTouchHandler.handleMouseDown($event)"
                ng-mouseup="rotationTouchHandler.handleMouseUp($event)"
                ng-mousemove="rotationTouchHandler.handleMouseMove($event)" />

        <circle ng-if="isSelected"
                ng-attr-cx="0"
                ng-attr-cy="{{dimensions.y}}"
                r="7"
                class="bottom-left"
                ng-mousedown="rotationTouchHandler.handleMouseDown($event)"
                ng-mouseup="rotationTouchHandler.handleMouseUp($event)"
                ng-mousemove="rotationTouchHandler.handleMouseMove($event)" />

        <circle ng-if="isSelected"
                ng-attr-cx="{{dimensions.x}}"
                ng-attr-cy="{{dimensions.y}}"
                r="7"
                class="bottom-right"
                ng-mousedown="rotationTouchHandler.handleMouseDown($event)"
                ng-mouseup="rotationTouchHandler.handleMouseUp($event)"
                ng-mousemove="rotationTouchHandler.handleMouseMove($event)" />

        <circle ng-if="isSelected"
                ng-attr-cx="{{dimensions.x}}"
                ng-attr-cy="{{0}}"
                r="7"
                class="top-right"
                ng-mousedown="rotationTouchHandler.handleMouseDown($event)"
                ng-mouseup="rotationTouchHandler.handleMouseUp($event)"
                ng-mousemove="rotationTouchHandler.handleMouseMove($event)" />
    </g>

    <!-- Component image -->
    <g class="img" ng-class="{selected: isSelected}"
       ng-mousedown="componentTouchHandler.handleMouseDown($event)"
       ng-mouseup="componentTouchHandler.handleMouseUp($event)"
       touch-start="componentTouchHandler.handleMouseDown($event)"
       touch-end="componentTouchHandler.handleMouseUp($event)" />
</g>

<!-- Component text -->
<g class="gadget-board-component text"
   ng-class="{selected: isSelected}"
   ng-mousedown="componentTouchHandler.handleMouseDown($event)"
   ng-mouseup="componentTouchHandler.handleMouseUp($event)"
   touch-start="componentTouchHandler.handleMouseDown($event)"
   touch-end="componentTouchHandler.handleMouseUp($event)"
   ng-attr-transform="translate({{transformation.x - dimensions.x / 2 + getHorizontalTextTranslation()}} {{transformation.y}})">
    <text fill="red">{{boardComponent.get_component_instance().get_name()}}</text>
</g>

<style>
    g.gadget-board-component g.img,
    g.gadget-board-component.text {
        cursor: pointer;
    }

    g.gadget-board-component g.img.selected,
    g.gadget-board-component.text.selected {
        cursor: move;
    }

    g.gadget-board-component .rotate-control {
        cursor: nwse-resize;
        fill: red;
        stroke: red;
        stroke-width: 1px;
    }

    g.gadget-board-component .rotation-control circle {
        fill: red;
        stroke: red;
    }

    g.gadget-board-component .rotation-control circle {
        cursor: pointer;
    }
</style>