<div class="board fill-height ui-container">x
    <div layout="column" style="height:100%">
        <md-whiteframe class="md-whiteframe-z1 fill-height board-container" layout="row" layout-align="center" style="overflow: auto; padding: 20px;">
          <div id="id-foo" width="400" height="400">
<svg id="TheLED" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="100mm" version="1.1" height="100mm" id="svg13574" inkscape:version="0.48.5 r10040"  viewBox="-50 -50 100 100">
  
  <defs id="defs13576">
    <linearGradient y2="468" x2="180" y1="342" x1="0" gradientTransform="translate(0,-355.5)" gradientUnits="userSpaceOnUse" id="linearGradient12348-8" xlink:href="#linearGradient4726-2" />
    <linearGradient id="linearGradient4726-2">
      <stop id="stop4728-5" style="stop-color:#141414;stop-opacity:1" offset="0"/>
      <stop id="stop4732-8" style="stop-color:#2d2d2d;stop-opacity:1" offset="0.53571427"/>
      <stop id="stop4730-2" style="stop-color:#1a1a1a;stop-opacity:1" offset="1"/>
    </linearGradient>
  </defs>
  <g class="gtron-component" gtron-component-type="template" inkscape:label="gtron-component"  id="gtron-component-container">
    <style class="gtron-gadget-style">
      .led-segment-lit {fill: #00ff00}
      .led-segment-dimmed {fill: #333333}
    </style>
    <g id="gtron-above-board" class="gtron-above-board">
      <g id="g4441" transform="translate(-89.716126,-42.997621)">
        <g transform="translate(0,-957.85975)" id="layer1-4"/>
        <g transform="translate(0,-355.5)" id="layer2-3"/>
        <g transform="translate(0,-355.5)" id="layer3-1"/>
        <g transform="translate(0,-355.5)" id="layer4-1"/>
        <g transform="translate(0.18004473,1.6204026)" id="g14113-5">
          <g id="g13063" transform="matrix(0.28136776,0,0,0.28222222,63.770417,27.307365)">
            <path  d="m 9.4375,0 c -4.986,0 -9,4.014 -9,9 l 0,76.5 c 0,4.986 4.014,9 9,9 l 161.125,0 c 4.986,0 9,-4.014 9,-9 l 0,-76.5 c 0,-4.986 -4.014,-9 -9,-9 L 9.4375,0 z m 2.9375,3.40625 c 1.863961,0 3.375,1.51104 3.375,3.375 0,1.86396 -1.511039,3.375 -3.375,3.375 -1.863961,0 -3.375,-1.51104 -3.375,-3.375 0,-1.86396 1.511039,-3.375 3.375,-3.375 z m 155.25,0 c 1.86396,0 3.375,1.51104 3.375,3.375 0,1.86396 -1.51104,3.375 -3.375,3.375 -1.86396,0 -3.375,-1.51104 -3.375,-3.375 0,-1.86396 1.51104,-3.375 3.375,-3.375 z M 12.375,84.375 c 1.863961,0 3.375,1.51104 3.375,3.375 0,1.86396 -1.511039,3.375 -3.375,3.375 C 10.511039,91.125 9,89.61396 9,87.75 c 0,-1.86396 1.511039,-3.375 3.375,-3.375 z m 155.25,0 c 1.86396,0 3.375,1.51104 3.375,3.375 0,1.86396 -1.51104,3.375 -3.375,3.375 -1.86396,0 -3.375,-1.51104 -3.375,-3.375 0,-1.86396 1.51104,-3.375 3.375,-3.375 z" id="rect3117" style="fill:#165c7a;fill-opacity:1;fill-rule:evenodd;stroke:none"/>
            <g transform="translate(0,-355.5)" xml:space="preserve" id="text4863" style="font-size:5.5px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:start;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:start;fill:#ffffff;fill-opacity:1;stroke:none;font-family:OCRA;-inkscape-font-specification:OCRA">
              <text id="tspan4865" y="445.5" x="19.125">0.56" 7-segment LED HT16K33 Backpack</text>
            </g>
            <path  d="m 78.749984,6.74995 a 2.25,2.25 0 0 1 -4.5,0 2.25,2.25 0 1 1 4.5,0 z" id="path14122" style="fill:none;stroke:#b9b9b9;stroke-width:2.25;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
            <path  d="m 87.749982,6.74995 a 2.25,2.25 0 0 1 -4.5,0 2.25,2.25 0 1 1 4.5,0 z" id="path14124" style="fill:none;stroke:#b9b9b9;stroke-width:2.25;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
            <path  d="m 96.749983,6.74995 a 2.25,2.25 0 0 1 -4.5,0 2.25,2.25 0 1 1 4.5,0 z" id="path14126" style="fill:none;stroke:#b9b9b9;stroke-width:2.25;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
            <path  d="m 105.74998,6.74995 a 2.25,2.25 0 0 1 -4.5,0 2.25,2.25 0 1 1 4.5,0 z" id="path14128" style="fill:none;stroke:#b9b9b9;stroke-width:2.25;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
            <rect id="connector1pin" style="fill:#f1d083;fill-opacity:1;stroke:none" height="2.7" y="5.3999939" x="75.149971" width="2.7"/>
            <rect id="connector2pin" style="fill:#f1d083;fill-opacity:1;stroke:none" height="2.7" y="5.3999939" x="84.150002" width="2.7"/>
            <rect id="connector3pin" style="fill:#f1d083;fill-opacity:1;stroke:none" height="2.7" y="5.3999939" x="93.149994" width="2.7"/>
            <rect id="connector4pin" style="fill:#f1d083;fill-opacity:1;stroke:none" height="2.7" y="5.3999939" x="102.14998" width="2.7"/>
            <g transform="translate(0,-355.5)" xml:space="preserve" id="text16302" style="font-size:4px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#ffffff;fill-opacity:1;stroke:none;font-family:OCRA;-inkscape-font-specification:OCRA">
              <text id="tspan16304" style="font-size:4px;text-align:center;text-anchor:middle" y="359.54999" x="81.899971">-</text>
            </g>
            <g transform="translate(0,-355.5)" xml:space="preserve" id="text16446" style="font-size:4px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#ffffff;fill-opacity:1;stroke:none;font-family:OCRA;-inkscape-font-specification:OCRA">
              <text id="tspan16448" style="font-size:4px;text-align:center;text-anchor:middle" y="359.54999" x="72.899971">+</text>
            </g>
            <g transform="translate(0,-355.5)" xml:space="preserve" id="text28744" style="font-size:4px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#ffffff;fill-opacity:1;stroke:none;font-family:OCRA;-inkscape-font-specification:OCRA">
              <text id="tspan28746" style="font-size:4px;text-align:center;text-anchor:middle" y="359.54999" x="107.09997">C</text>
            </g>
            <g transform="translate(0,-355.5)" xml:space="preserve" id="text28748" style="font-size:4px;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-align:center;line-height:125%;letter-spacing:0px;word-spacing:0px;text-anchor:middle;fill:#ffffff;fill-opacity:1;stroke:none;font-family:OCRA;-inkscape-font-specification:OCRA">
              <text id="tspan28750" style="font-size:4px;text-align:center;text-anchor:middle" y="359.54999" x="98.099976">D</text>
            </g>
          </g>
        </g>
      </g>
    </g>
    <g id="gtron-above-faceplate" class="gtron-above-faceplate">
      <g id="g4181" transform="translate(-75.852681,-24.453012)">
        <g transform="translate(0,-957.85975)" id="layer1"/>
        <g transform="translate(0,-355.5)" id="layer2"/>
        <g transform="translate(0,-355.5)" id="layer3"/>
        <g transform="translate(0,-355.5)" id="layer4"/>
        <g transform="translate(0.18004473,-12.423087)" id="g14113-9">
          <g id="g12095" transform="matrix(0.28136776,0,0,0.28222222,49.906971,22.806246)">
            <rect id="rect3891" style="fill:url(#linearGradient12348-8);fill-opacity:1;fill-rule:evenodd;stroke:none" height="67.5" y="13.5" x="0.44999999" width="179.10001"/>
            <path class="led-segment-dimmed"  d="m 8.4504331,69.525 -2.475,-2.475 2.7,-16.875 3.1499999,-2.025 1.8,2.25 -2.7,16.875 z" id="path3923" style="color:#000000;fill:#333333;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-dimmed"  d="m 9.3504331,70.425 2.6999999,-2.475 16.65,0 1.8,2.475 -2.7,2.475 -16.65,0 z" id="path3925" style="color:#000000;fill:#333333;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-dimmed"  d="m 12.725433,47.25 2.925,-2.475 16.65,0 1.8,2.475 -2.7,2.475 -16.65,0 z" id="path3927" style="color:#000000;fill:#333333;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-dimmed"  d="m 11.825433,46.35 -2.2499999,-2.475 2.6999999,-17.1 2.025,-1.8 2.925,2.475 -2.7,16.65 z" id="path3929" style="color:#000000;fill:#333333;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-dimmed"  d="m 15.425433,24.075 2.25,-2.475 18.45,0 1.8,2.475 -2.7,2.475 -17.1,0 z" id="path3931" style="color:#000000;fill:#333333;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 38.600433,25.2 2.025,2.475 -2.475,16.65 -2.925,2.25 -2.025,-2.925 2.475,-15.75 z" id="path3933" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 35.225433,48.15 2.025,2.475 -2.7,16.875 -2.925,2.25 -2.025,-2.7 2.475,-15.975 z" id="path3935" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 54.074055,69.525 -2.475,-2.475 2.7,-16.875 3.15,-2.025 1.8,2.25 -2.7,16.875 z" id="path3948" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 54.974055,70.425 2.7,-2.475 16.65,0 1.8,2.475 -2.7,2.475 -16.65,0 z" id="path3950" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 58.349055,47.25 2.925,-2.475 16.65,0 1.8,2.475 -2.7,2.475 -16.65,0 z" id="path3952" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 57.449055,46.35 -2.25,-2.475 2.7,-17.1 2.025,-1.8 2.925,2.475 -2.7,16.65 z" id="path3954" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 61.049055,24.075 2.25,-2.475 18.45,0 1.8,2.475 -2.7,2.475 -17.1,0 z" id="path3956" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 84.224055,25.2 2.025,2.475 -2.475,16.65 -2.925,2.25 -2.025,-2.925 2.475,-15.75 z" id="path3958" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 80.849055,48.15 2.025,2.475 -2.7,16.875 -2.925,2.25 -2.025,-2.7 2.475,-15.975 z" id="path3960" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 98.804764,69.525 -2.475,-2.475 2.7,-16.875 3.149996,-2.025 1.8,2.25 -2.7,16.875 z" id="path3964" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 99.704764,70.425 2.699996,-2.475 16.65,0 1.8,2.475 -2.7,2.475 -16.65,0 z" id="path3966" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-dimmed"  d="m 103.07976,47.25 2.925,-2.475 16.65,0 1.8,2.475 -2.7,2.475 -16.65,0 z" id="path3968" style="color:#000000;fill:#333333;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 102.17976,46.35 -2.249996,-2.475 2.699996,-17.1 2.025,-1.8 2.925,2.475 -2.7,16.65 z" id="path3970" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 105.77976,24.075 2.25,-2.475 18.45,0 1.8,2.475 -2.7,2.475 -17.1,0 z" id="path3972" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 128.95476,25.2 2.025,2.475 -2.475,16.65 -2.925,2.25 -2.025,-2.925 2.475,-15.75 z" id="path3974" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 125.57976,48.15 2.025,2.475 -2.7,16.875 -2.925,2.25 -2.025,-2.7 2.475,-15.975 z" id="path3976" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 143.36539,69.525 -2.475,-2.475 2.7,-16.875 3.15,-2.025 1.8,2.25 -2.7,16.875 z" id="path3980" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 144.26539,70.425 2.7,-2.475 16.65,0 1.8,2.475 -2.7,2.475 -16.65,0 z" id="path3982" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 147.64039,47.25 2.925,-2.475 16.65,0 1.8,2.475 -2.7,2.475 -16.65,0 z" id="path3984" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-dimmed"  d="m 146.74039,46.35 -2.25,-2.475 2.7,-17.1 2.025,-1.8 2.925,2.475 -2.7,16.65 z" id="path3986" style="color:#000000;fill:#333333;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 150.34039,24.075 2.25,-2.475 18.45,0 1.8,2.475 -2.7,2.475 -17.1,0 z" id="path3988" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="m 173.51539,25.2 2.025,2.475 -2.475,16.65 -2.925,2.25 -2.025,-2.925 2.475,-15.75 z" id="path3990" style="color:#000000;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-dimmed"  d="m 170.14039,48.15 2.025,2.475 -2.7,16.875 -2.925,2.25 -2.025,-2.7 2.475,-15.975 z" id="path3992" style="color:#000000;fill:#333333;stroke:#000000;stroke-width:0.18000001;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none;stroke-dashoffset:0;marker:none;visibility:visible;overflow:visible;enable-background:accumulate"/>
            <path class="led-segment-lit"  d="M 95.400006,36 A 2.475003,2.4749999 0 0 1 90.45,36 a 2.475003,2.4749999 0 1 1 4.950006,0 z" id="path5815" style="fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.18000001;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
            <path class="led-segment-lit"  d="m 91.800003,58.5 a 2.475003,2.4749999 0 0 1 -4.950006,0 2.475003,2.4749999 0 1 1 4.950006,0 z" id="path5819" style="fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.18000001;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
            <path class="led-segment-lit"  d="m 86.850006,68.175 a 2.475003,2.4749999 0 0 1 -4.950006,0 2.475003,2.4749999 0 1 1 4.950006,0 z" id="path5821" style="fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.18000001;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
            <path class="led-segment-lit"  d="m 41.850006,68.175 a 2.475003,2.4749999 0 0 1 -4.950006,0 2.475003,2.4749999 0 1 1 4.950006,0 z" id="path5835" style="fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.18000001;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
            <path class="led-segment-lit"  d="m 131.85001,68.175 a 2.475005,2.4750019 0 0 1 -4.95001,0 2.475005,2.4750019 0 1 1 4.95001,0 z" id="path5837" style="fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.18000001;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
            <path class="led-segment-lit"  d="m 176.85001,68.175 a 2.475005,2.4750019 0 0 1 -4.95001,0 2.475005,2.4750019 0 1 1 4.95001,0 z" id="path5839" style="fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.18000001;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
          </g>
        </g>
      </g>
      <g id="g30504" transform="matrix(0.26841126,0,0,0.27438378,-30.002797,-27.0533)">
        <g transform="translate(0,90)" id="layer14">
          <g id="breadboard">
            <g transform="matrix(0.5,0,0,0.5,16.319503,-543.30881)" id="g16557">
              <g id="g3203">
                <g id="g3196">
                  <path  transform="matrix(1.25,0,0,1.25,-6.2007881,-251.5748)" d="m 31.889764,1013.3858 a 7.0866141,7.0866141 0 1 1 -14.173228,0 7.0866141,7.0866141 0 1 1 14.173228,0 z" id="path3763" style="fill:#d7d7d7;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.28346458;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
                  <path  transform="matrix(0.9090909,0,0,0.9090909,2.2548315,92.28704)" d="m 19.084904,1021.9229 a 8.8582678,8.8582678 0 0 1 11.345392,-13.6068" id="path3838" style="fill:none;stroke:#ffffff;stroke-width:1.94881892;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-opacity:0.58695649;stroke-dasharray:none"/>
                  <g transform="matrix(0.93358043,0.35836795,-0.35836795,0.93358043,365.44731,58.537671)" id="g3870">
                    <path  d="m 24.80315,1009.8425 0,10.6299" id="path3844" style="fill:none;stroke:#575757;stroke-width:2.16982603;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
                    <path  d="m 19.488189,1015.1575 10.629921,0" id="path3848" style="fill:none;stroke:#575757;stroke-width:2.16982365;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g transform="matrix(0.26841126,0,0,0.27438378,13.699987,-4.0612526)" id="g30523">
        <g id="g30525" transform="translate(0,-881.35975)"/>
        <g id="g30527" transform="translate(0,90)"/>
        <g id="g30529" transform="translate(0,90)"/>
        <g id="g30531" transform="translate(0,90)"/>
        <g id="g30533" transform="translate(0,90)"/>
        <g id="g30535" transform="translate(0,90)"/>
        <g id="g30537" transform="translate(0,90)"/>
        <g id="g30539" transform="translate(0,90)">
          <g id="g30541">
            <g id="g30543" transform="matrix(0.5,0,0,0.5,16.319503,-543.30881)">
              <g id="g30545">
                <g id="g30547">
                  <path style="fill:#d7d7d7;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.28346458;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" id="path30549" d="m 31.889764,1013.3858 a 7.0866141,7.0866141 0 1 1 -14.173228,0 7.0866141,7.0866141 0 1 1 14.173228,0 z" transform="matrix(1.25,0,0,1.25,-6.2007881,-251.5748)" />
                  <path style="fill:none;stroke:#ffffff;stroke-width:1.94881892;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-opacity:0.58695649;stroke-dasharray:none" id="path30551" d="m 19.084904,1021.9229 a 8.8582678,8.8582678 0 0 1 11.345392,-13.6068" transform="matrix(0.9090909,0,0,0.9090909,2.2548315,92.28704)" />
                  <g id="g30553" transform="matrix(0.93358043,0.35836795,-0.35836795,0.93358043,365.44731,58.537671)">
                    <path style="fill:none;stroke:#575757;stroke-width:2.16982603;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" id="path30555" d="m 24.80315,1009.8425 0,10.6299" />
                    <path style="fill:none;stroke:#575757;stroke-width:2.16982365;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" id="path30557" d="m 19.488189,1015.1575 10.629921,0" />
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g id="g30559" transform="matrix(0.26841126,0,0,0.27438378,-30.002797,-4.0612526)">
        <g transform="translate(0,-881.35975)" id="g30561"/>
        <g transform="translate(0,90)" id="g30563"/>
        <g transform="translate(0,90)" id="g30565"/>
        <g transform="translate(0,90)" id="g30567"/>
        <g transform="translate(0,90)" id="g30569"/>
        <g transform="translate(0,90)" id="g30571"/>
        <g transform="translate(0,90)" id="g30573"/>
        <g transform="translate(0,90)" id="g30575">
          <g id="g30577">
            <g transform="matrix(0.5,0,0,0.5,16.319503,-543.30881)" id="g30579">
              <g id="g30581">
                <g id="g30583">
                  <path  transform="matrix(1.25,0,0,1.25,-6.2007881,-251.5748)" d="m 31.889764,1013.3858 a 7.0866141,7.0866141 0 1 1 -14.173228,0 7.0866141,7.0866141 0 1 1 14.173228,0 z" id="path30585" style="fill:#d7d7d7;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.28346458;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
                  <path  transform="matrix(0.9090909,0,0,0.9090909,2.2548315,92.28704)" d="m 19.084904,1021.9229 a 8.8582678,8.8582678 0 0 1 11.345392,-13.6068" id="path30587" style="fill:none;stroke:#ffffff;stroke-width:1.94881892;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-opacity:0.58695649;stroke-dasharray:none"/>
                  <g transform="matrix(0.93358043,0.35836795,-0.35836795,0.93358043,365.44731,58.537671)" id="g30589">
                    <path  d="m 24.80315,1009.8425 0,10.6299" id="path30591" style="fill:none;stroke:#575757;stroke-width:2.16982603;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
                    <path  d="m 19.488189,1015.1575 10.629921,0" id="path30593" style="fill:none;stroke:#575757;stroke-width:2.16982365;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none"/>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
      <g transform="matrix(0.26841126,0,0,0.27438378,13.699987,-27.0533)" id="g30595">
        <g id="g30597" transform="translate(0,-881.35975)"/>
        <g id="g30599" transform="translate(0,90)"/>
        <g id="g30601" transform="translate(0,90)"/>
        <g id="g30603" transform="translate(0,90)"/>
        <g id="g30605" transform="translate(0,90)"/>
        <g id="g30607" transform="translate(0,90)"/>
        <g id="g30609" transform="translate(0,90)"/>
        <g id="g30611" transform="translate(0,90)">
          <g id="g30613">
            <g id="g30615" transform="matrix(0.5,0,0,0.5,16.319503,-543.30881)">
              <g id="g30617">
                <g id="g30619">
                  <path style="fill:#d7d7d7;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:0.28346458;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" id="path30621" d="m 31.889764,1013.3858 a 7.0866141,7.0866141 0 1 1 -14.173228,0 7.0866141,7.0866141 0 1 1 14.173228,0 z" transform="matrix(1.25,0,0,1.25,-6.2007881,-251.5748)" />
                  <path style="fill:none;stroke:#ffffff;stroke-width:1.94881892;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:4;stroke-opacity:0.58695649;stroke-dasharray:none" id="path30623" d="m 19.084904,1021.9229 a 8.8582678,8.8582678 0 0 1 11.345392,-13.6068" transform="matrix(0.9090909,0,0,0.9090909,2.2548315,92.28704)" />
                  <g id="g30625" transform="matrix(0.93358043,0.35836795,-0.35836795,0.93358043,365.44731,58.537671)">
                    <path style="fill:none;stroke:#575757;stroke-width:2.16982603;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" id="path30627" d="m 24.80315,1009.8425 0,10.6299" />
                    <path style="fill:none;stroke:#575757;stroke-width:2.16982365;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" id="path30629" d="m 19.488189,1015.1575 10.629921,0" />
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>

	  </div>
        </md-whiteframe>

        <!--
        Note: Tooltip autohides may require the latest version of angular-material.
        https://github.com/angular/material/commit/b682e36a55c37f41cf9004645916cba07b6ef805
        -->

        <div layout="row">
            <!-- Zoom control. -->
            <div flex="25" layout="row" layout-align="start center">
                <div flex="20" layout layout-align="center center" layout-margin="1"><span>{{Math.round(zoomFactor*100)}}%</span></div>
                <md-slider flex="80" min="0.1" max="4" class="md-primary" layout-margin="1" discrete="false" step="0.01" ng-model="zoomFactor" aria-label="zoom"></md-slider>
            </div>

            <!-- Misc controls. -->
            <div flex="75" layout="row" layout-align="end center" class="misc-controls">
                <!-- Snap to grid. -->
                <md-button class="md-mini md-fab" ng-click="toggleGrid()" aria-label="Snap to grid." style="background: #F7F7F7;">
                    <md-tooltip md-autohide>
                        Snap to grid.
                    </md-tooltip>
                    <md-icon md-svg-src="public/img/grid.svg"></md-icon>
                </md-button>

                <!-- Edit gadget configuration. -->
                <md-button class="md-mini md-fab" ng-click="editGadget()" aria-label="Edit gadget configuration." style="background: #F7F7F7;">
                    <md-tooltip md-autohide>
                        Edit gadget configuration.
                    </md-tooltip>
                    <md-icon md-svg-src="public/img/configure.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
</div>

<style>
    .board-container {
        background-color: lightgray;
    }
    
    .misc-controls .md-button.md-fab {
        color: black;
        margin-left: 10px;
    
    }
    #id-foo {
    width: 400;
    hegiht: 400;
    background-color: green;
    position: relative;
    }

    #TheLED {
    position:absolute;
    top: 10;
    left: 10;
    }
    
</style>
