<div class="component-inspector fill-height ui-container">
    <md-whiteframe class="md-whiteframe-z1 fill-height" layout="column" layout-align="left">
        <div class="header">Component Inspector</div>

        <md-content class="fill-height" ng-if="selection.getPlacedParts().length == 0">
            <div style="padding: 8px 12px;">Select a component on the board to inspects its properties here.</div>
        </md-content>

            <md-content class="fill-height" ng-if="selection.getPlacedParts().length > 0">
                <!-- Data editors. -->
                <component-name-inspector catalog-model="catalogModel"
                                          gadget-model="gadgetModel"
                                          selection="selection">
                </component-name-inspector>

                <component-transformation-inspector catalog-model="catalogModel"
                                                    gadget-model="gadgetModel"
                                                    selection="selection"
                                                    ng-if="selection.getPlacedParts().length == 1">
                </component-transformation-inspector>

                <md-divider ng-if="selection.getPlacedParts().length == 1"></md-divider>
            </md-content>
</md-whiteframe>
</div>
