<div class="component-transformation-inspector" ng-if="componentData != null">
    <div layout="row">
        <md-input-container flex>
            <label>Translate-x</label>
            <input type="number" ng-model="transformation.translation.x" />
        </md-input-container>

        <md-input-container flex>
            <label>Translate-y</label>
            <input type="number" ng-model="transformation.translation.y" />
        </md-input-container>

        <md-input-container flex>
            <label>Rotation</label>
            <input type="number" ng-model="transformation.rotation" />
        </md-input-container>
    </div>
</div>