<div class="component-transformation-inspector">
    <div layout="row">
        <md-input-container flex>
            <label>Translate-x</label>
            <input type="number" ng-model="gadgetModelData.xpos" />
        </md-input-container>

        <md-input-container flex>
            <label>Translate-y</label>
            <input type="number" ng-model="gadgetModelData.ypos" />
        </md-input-container>

        <md-input-container flex>
            <label>Rotation</label>
            <input type="number" ng-model="gadgetModelData.rot" />
        </md-input-container>
    </div>
</div>