<div class="fill-height">
    <div layout="column" style="height:100%">
        <div flex="66" class="fill-height">
            <div layout="row" layout-align="space-between center" class="fill-height">
                <!-- Gadget explorer. -->
                <gadget-explorer class="fill-height" flex="20"
                                 gadget-model="gadgetModel"
                                 selection="selection">
                </gadget-explorer>

                <!-- Board. -->
                <board class="fill-height" flex="50"
                       catalog-model="catalogModel"
                       gadget-model="gadgetModel"
                       selection="selection">
                </board>

                <!-- Component inspector. -->
                <!-- Only shown when there is a component selected. -->
                <component-inspector class="fill-height" flex="30"
                                     gadget-model="gadgetModel"
                                     catalog-model="catalogModel"
                                     selection="selection"
                                     ng-if="selection.getBoard() == null && selection.getBoardComponents().length > 0">
                </component-inspector>

                <!-- Gadget inspector. -->
                <gadget-inspector class="fill-height" flex="30"
                                  gadget-model="gadgetModel"
                                  ng-if="selection.getBoard() != null || selection.getBoardComponents().length == 0">
                </gadget-inspector>
            </div>
        </div>

        <div flex="33" class="fill-height">
            <catalog></catalog>
        </div>
    </div>
</div>
