body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

li {
    list-style: none;
}

ul {
    padding: 0px;
}

div.clear {
    clear: both;
}

div.ui-container {
    padding: 15px;
}

.full-height {
    height: 100%;
}