body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

li {
    list-style: none;
}

ul {
    padding: 0px;
}

div.clear {
    clear: both;
}

.fill-height {
    height: 100%;
}


/******************************************************************************
 * UI directives.
 */
div.ui-container {
    padding: 15px;
}

div.ui-container .header {
    background-color: #D1DBBD;
    padding: 8px 12px;
}

